* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: #282c34;
}

html {
  font-size: 62.5%;
  color: white;
}

:root {
  --day-rain-bg: #07396a;
  // --day-snow-bg: #7f8e9d;
  --day-snow-bg: white;
  --day-thunder-bg: #001525;
  --day-clear-bg: #fe9928;
  --day-cloud-bg: #5389ac;
  --day-drizzle-bg: #2f5882;
  --day-haze-bg: #5389ac;
  --day-mist-bg: #3cd3ad;
  // --day-sun-bg: #f7f2be;

  --night-rain-bg: #001525;
  --night-snow-bg: #001525;
  --night-clear-bg: #001525;
  --night-cloud-bg: #001525;

  --rain-drop: #07396a;
  --snow-flake: white;

  // background: #5d2f60;
  background: #003b73;

  --cloud-bg1: #126ad2;
  --cloud-bg2: #0643a5;
  --cloud-bg3: #00308f;
  --cloud-bg4: #2f5882;
  --cloud-bg5: #5389ac;
  --main-bg: var(--day-clear-bg);
}

.Clouds {
  --main-bg: var(--day-cloud-bg);
  color: white;
}
.Rain {
  --main-bg: var(--day-rain-bg);
  color: white;
}
.Clear {
  --main-bg: var(--day-clear-bg);
  color: black;
}
.Snow {
  --main-bg: var(--day-snow-bg);
  color: black;
}

.Thunderstorm {
  --main-bg: var(--day-thunder-bg);
  color: white;
}

.Drizzle {
  --main-bg: var(--day-drizzle-bg);
  color: black;
}
.Haze {
  --main-bg: var(--day-haze-bg);
  color: black;
}
.Mist {
  --main-bg: var(--day-mist-bg);
  color: black;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--main-bg);
  background-position: bottom;
  background-size: cover;
  transition: 0.4s;
  min-height: 100vh;
}

.main {
  display:flex;
flex-direction: column;
  min-height: 100vh;
  background: var(--main-bg);
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
 
}

.searchContainer {
  appearance: none;
  background: none;
  width: 100%;
  // margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  // border:1px solid white;
}

.searchBar {
  display: block;
  width: 80%;
  text-align: center;
  color: #313131;
  font-size: 2rem;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.9s;
  margin:5rem;
}
.searchBar:focus {
  background-color: rgba(255, 255, 255, 0.75);
 
}

.locationContainer {

  font-size: 2rem;
}

.temp {
  text-align: center;
  font-size: 6rem;
  
}

.secondary {
  display: flex;
  margin:10rem;
  flex-direction:column;
  justify-content: space-between;
  text-align: left;
  border:1px solid black;
  font-size: large;
  display:none;
}

.primary {
  display: flex;
  justify-content: center;
  flex-direction: column;
  

}

.contentWrapper{
  // width:50%;
  // border:1px solid red;
}

.drawingWrapper{
  // position:absolute;
 
  // display:flex;
  // width:50%; 
  // align-items: center;
  // justify-content: center; 
  // border:1px solid red;
}
.drawings{
  
//  border:1px solid white;
padding:0 2rem;
 width:100%;

}



@media all and (min-width: 600px) {
  .main {
    height: 100vh;

    box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
    width: 90%;
  }
}
@media only screen and (min-width: 900px) {
  .main {
    height: 80vh;
    background: var(--main-bg);

    width: 60%;
  }


  .locationContainer {
  
    //margin:45vh 3vw;
      font-size: 2rem;
    }
    
    .temp {
      text-align: center;
      font-size: 6rem;
      
    }
    
    .secondary {
      display: flex;
      margin:10rem;
      flex-direction:column;
      justify-content: space-between;
      text-align: left;
      border:1px solid black;
      font-size: large;
    }
    
    .primary {
      display: flex;
      justify-content: center;
      flex-direction: column;
      
    
    }
    
    .contentWrapper{
      width:50%;
      // border:1px solid red;
    }
    
    .drawingWrapper{
      display:flex;
      width:50%; 
      align-items: center;
      justify-content: center; 
      // border:1px solid red;
    }
    .drawings{
      
    //  border:1px solid white;
    padding:0 2rem;
     width:100%;
    
    }
}


