* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: #282c34;
}

html {
  font-size: 62.5%;
  color: black;
}

:root {
  --day-rain-bg: #5389ac;
  // --day-snow-bg: #7f8e9d;
  --day-snow-bg: white;
  --day-thunder-bg: #001525;
  --day-clear-bg: #fe9928;
  --day-cloud-bg: #5389ac;
  --day-drizzle-bg: #2f5882;
  --day-haze-bg: #5389ac;
  --day-mist-bg: #3cd3ad;
  // --day-sun-bg: #f7f2be;

  --night-rain-bg: #001525;
  --night-snow-bg: #001525;
  --night-clear-bg: #001525;
  --night-cloud-bg: #001525;

  --rain-drop: #07396a;
  --snow-flake: white;

  // background: #5d2f60;
  background: #003b73;

  --cloud-bg1: #126ad2;
  --cloud-bg2: #0643a5;
  --cloud-bg3: #00308f;
  --cloud-bg4: #2f5882;
  --cloud-bg5: #5389ac;
  --main-bg: var(--day-clear-bg);
}

.Clouds {
  --main-bg: var(--day-cloud-bg);
  color: black;
}
.Rain {
  --main-bg: var(--day-rain-bg);
  color: black;
}
.Clear {
  --main-bg: var(--day-clear-bg);
  color: black;
}
.Snow {
  --main-bg: var(--day-snow-bg);
  color: black;
}

.Thunderstorm {
  --main-bg: var(--day-thunder-bg);
  color: black;
}

.Drizzle {
  --main-bg: var(--day-drizzle-bg);
  color: black;
}
.Haze {
  --main-bg: var(--day-haze-bg);
  color: black;
}
.Mist {
  --main-bg: var(--day-mist-bg);
  color: black;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
font-family:Roboto;
  background: var(--main-bg);
  background-position: bottom;
  background-size: cover;
  transition: 0.4s;
  min-height: 100vh;
}

.main {
  display:flex;
 flex-direction: column;
  min-height: 100vh;
  background: var(--main-bg);
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
 width:100%;
}

.locationContainer {
  display:flex;
  justify-content: flex-end;
  padding:5rem 2rem;
  font-size: 2rem;


  
  .magnifier{
      margin-right:1rem;
  width:2rem;  
    
  }


  .searchContainer {
    appearance: none;
    background: none;
    width: 100%;
   
    display: flex;
    // justify-content: flex-end;
  
   
    .magnifier:hover{
      cursor: pointer;
    }
  
  
  
    .searchBar {
      display: block;
      margin-right:1rem;
      width: 0;
      text-align: center;
      color: #313131;
      font-size: 2rem;
      appearance: none;
      border: none;
      outline: none;
      background: none;
      background-color: rgba(255, 255, 255, 0.5);
      transition: 0.9s;
      
    }

    .open {
      background-color: rgba(255, 255, 255, 0.75);
      width:90%;
    }
  
  }
  
}











.primary {
  padding-top:5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;


  .description{
    font-size:4rem;
  }
  .temp {
    text-align: center;
    font-size: 2rem;
    
  }

}

.contentWrapper{
  // width:50%;
  // border:1px solid red;
}

.drawingWrapper{
  margin-top:5rem;
  // display:flex;
  // width:50%; 
  // align-items: center;
  // justify-content: center; 
  // border:1px solid red;
}
.drawings{
  
//  border:1px solid black;
padding:0 2rem;
 width:100%;

}



@media all and (min-width: 600px) {
  .main {
    height: 100vh;
    box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
    width: 90%;
flex-direction: row;


  }
  
  .drawingWrapper{
    margin-top:5rem;
    display:flex;
    width:50%; 
    align-items: center;
    justify-content: center; 
    // border:1px solid red;
  }


  .contentWrapper {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    // padding:5rem 2rem;
    font-size: 2rem;
    // border:1px solid red;
    width:50%;
  }
  .locationContainer {
      flex-direction: column;
    font-size: 2rem;
  }

.primary{

  flex-direction: column;
}

}
@media only screen and (min-width: 900px) {
  .main {
    height: 80vh;
    background: var(--main-bg);

    width: 60%;
  }
}


